@import url('https://fonts.googleapis.com/css?family=Spectral:Semi-Bold,Regular,Light,Extra-Light');

/* Navigation bar styles for mobile and desktop */

#header-navbar {
    z-index: 10000;
}

#nav-gradient-container {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(244, 96, 54, 0), rgb(65, 71, 112));
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 600px;
}

#toggle-navbar-button {
    display: none;
}

.navbar {
    background: rgb(65, 71, 112);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh;
    height: 50px;
    left:0;
    line-height: 50px;
    margin: 0px;
    overflow: hidden;  
    position: fixed;
    top:0; 
    width: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Custom navbar image for homepage */
.index {
    background-image:  url(../images/flag.jpg);
}

.navbar a {
    color: white;
    display: block;
    float: left;
    font-family: 'Spectral', serif;
    font-size: 20px;
    font-weight: 200;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #5B85AA;
}

.navbar a.icon {
    display: none;
}

/* Prevent white text on white background
 * image in smaller browser windows */
@media only screen and (max-width: 850px) {
    #nav-gradient-container {
        background: none;
    }
    
    .navbar {
        background: rgb(65, 71, 112);
    }
}

/* Collapse navbar on mobile and tiny browser windows */
@media only screen and (max-width: 400px) {
    #toggle-navbar-button {
        display: block;
        float: right;
    }

    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar.responsive {
        height: 250px;
    }

    .navbar.responsive.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        display: block;
        float: none;
        text-align: left;
    }

    .navbar.responsive a:not(:first-child) {
        background-color: #333333;
    }

    .navbar a {
        font-size: 24px;
        font-weight: 500;
    }

    .navbar a:hover {
        background-color: transparent;
    }
}
