.html {
    background: #5448c8;
}

#about {
    margin: 1vh 5vw 0vh 5vw;
}

#about-wrapper {
    background: #5448c8;
}

#about-wrapper h1 {
    color: white;
    font-family: 'Spectral', serif;
    font-size: 60px;
    margin-top: 1vh;
}

#intro {
    background-color: #171123;
    min-height: 600px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#intro li {
  list-style: none;
}

#name-header {
    color: white;
    font-size: 60px;
    font-family: 'Spectral', serif;
    letter-spacing: 6px;
    line-height: 70px;
    margin: 0;
    text-transform: none;
}

#portrait {
    margin-top: 16vh;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    top: 27%;
    left: 13%;
    object-fit: cover;
}

.whoami {
    margin-top: 32px;
    padding: 0px;
}

.whoami li {
    color: white;
    font-family: 'Spectral', sans-serif;
    font-size: 25px;
    margin: 20px;
    padding: 0px;
}

.contactLink {
    display: inline-block;
}

.contactLinks {
    padding: 0px;
}

.contactLinks a {
    text-decoration: none;
    border-bottom-color: transparent;
}

body {
    background: #171123;
}

/* Circled Font Awesome icons */
i.custom-icon {
    /* These must match */
    font-size: 40px;
    width: 40px;
    height: 40px;

    color: white;
    margin: 8px;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

/* Styles for mobile */
@media only screen and (max-device-width: 480px) {
    #intro {
        background-size: cover;
    }
    /* Prevent the spacing in the about
     section from getting obnoxiously long */
    #about-wrapper p {
        margin-bottom: 5vh;
    }

    #about-wrapper h1 {
      font-size: 50px;
    }
}

/* Styles for small browser windows and mobile */
@media only screen and (max-width: 400px) {
    #portrait {
        margin-top: 10vh;
    }

}
