#header-navbar {
    border-radius: 0;
    z-index: 5;
}

.badge {
    background: rgba(255, 255, 255, 0.25);
    color: white;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 5vh;
    margin-right: 20px;
    text-decoration: none;
    width: fit-content;
}

.badge-container {
    bottom: 0;
    display: inline-block;
    position: relative;
}

.badge-container *:hover {
    cursor: default;
}

.faIcon {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.menu-item {
    cursor: pointer;
}

.menu-item ul {
    cursor: pointer;
    max-height: 0px;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;

    /* Animating collapsing */
    -webkit-transition: max-height 1s ease;
    -moz-transition: max-height 1s ease;
    -o-transition: max-height 1s ease;
    -ms-transition: max-height 1s ease;
    transition: max-height 1s ease;
}

.menu-item ul.clicked {
    max-height: 400px;
    /* Animating expanding */
    -webkit-transition: max-height 1s ease;
    -moz-transition: max-height 1s ease;
    -o-transition: max-height 1s ease;
    -ms-transition: max-height 1s ease;
    transition: max-height 1s ease;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article h3 {
    text-align: center;
}

body {
    color: white;
}

html {
    background: url(../images/writing.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

