body {
	background-color: #12192b;
}

.navbar {
	background:none;
	border: 0px;
}

p {
	color: #aa6920;
	font-family: Copperplate;
	text-align: center;
	font-size: 50px;
}

.featureImage {
	background-image:url('https://upload.wikimedia.org/wikipedia/commons/9/98/Ellipsis.svg');
	background-position: center top;
	background-size: 50% auto;
	background-repeat: no-repeat;
	padding: 250px 0;
	margin 30px;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
