#header {
	text-align: center;
}

#portrait {
	border-radius: 50%;
	width: 250x;
	height: 250px;
	top: 27%;
	left: 13%;	
}

#portrait, #header {
}

.navbar li a {
	z-index: 10;
}

 .menu-item ul {
	max-height: 0px;
	list-style-type: none;
	overflow: hidden;
	padding: 0px;

	/* Animating collapsing */
	-webkit-transition: max-height 2s ease;
	-moz-transition:	max-height 2s ease;
	-o-transition:		max-height 2s ease;
	-ms-transition:		max-height 2s ease;
	transition:			max-height 2s ease;
}

.menu-item:hover ul {
	max-height: 400px;
	/* Animating expanding */
	-webkit-transition: max-height 1s ease;
	-moz-transition:	max-height 1s ease;
	-o-transition:		max-height 1s ease;
	-ms-transition:		max-height 1s ease;
	transition:			max-height 1s ease;
}
