---
import '../styles/theme.css';
import Base from '../layouts/Base.astro';
import Starfield from '../components/Starfield.astro';
import Hero from '../components/Hero.astro';
import AvatarOrbit from '../components/AvatarOrbit.astro';
import Satellite from '../components/Satellite.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
const title = 'Patrick Gatewood | Software Engineer. Creator. Technology Enthusiast.';
const description = "Hi, I'm Patrick. I'm the guy you heard clacking on his keyboard at 2 AM.";
const ogImage = '/images/website-home-screenshot.jpeg';
---

<Base title={title} description={description} image={ogImage}>
  <Starfield />
  <Hero>
    <AvatarOrbit slot="avatar" src="/images/portrait.png" alt="Patrick Gatewood headshot" size={176} brand="#5448c8" />
  </Hero>
  <Satellite />
  <div style="margin-top:15svh">
    <ProjectsSection />
  </div>
</Base>

