<!DOCTYPE html>
<!--
Created by Patrick Gatewood on 2017.06.18 
Copyright © 2017 Patrick Gatewood. All rights reserved.
-->

<link rel="stylesheet" href="css/header.css" />
<script src="./js/header.js"></script>


<nav id="header-navbar" class="navbar">
    <div id="nav-gradient-container">
        <a id="home-link" href="/website/index.html">Home</a>
        <a id="resume-link" href="/website/resume.html">Resume</a>
        <a href="javascript:void(0);" class="icon" onclick="toggleNavbar()" >&#9776;</a>
    </div>
</nav>

