body {
	color: white;
}

.menu-item ul {
	height: 0px;
	list-style-type: none;
	overflow: hidden;
	padding: 0px;

	/* Animating expanding and collapsing */
	-webkit-transition: height 1s ease;
	-moz-transition:	height 1s ease;
	-o-transition:		height 1s ease;
	-ms-transition:		height 1s ease;
	transition:			height 1s ease;
}

.menu-item:hover ul {
	height: 60px;
}
